body {
  background: black;
  font-size: 80%;
}

.main {
  position: relative;
  height: 800px;
  width: 90%;
  margin: 0 auto;
  resize: both;
  overflow: auto;
}

.main video {
  background: black;
  color: white;
  width: 70%;
  height: auto;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
}


@media screen and (min-width: 480px)
{
	
	.main{
		width: 100%;
	}
	.main video{
		width: 100%;
		padding: 0;
		top: 30%;
	}
}
@media screen and (min-width: 600px)
{
	.main{
		width: 100%;
	}
	.main video{
		width: 100%;
	}
}
@media screen and (min-width: 860px)
{
	.main{
		width: 70%;
	}
	.main video{
		width: 100%;
	}
}
@media screen and (min-width: 1200px)
{
	.main{
		width: 80%;
	}
	.main video{
		width: 90%;
	}
}
